**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/.cache
**/.git
**/.github
**/.vscode
**/.idea
**/*.log
**/.env
**/.env.*
!**/.env.example
apps/web
storybook-static
Design-Guide
docs
*.tar
*.tgz
*.zip
